APP_ENV=development
APP_URL=http://localhost/lms

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=lms
DB_USER=root
DB_PASS=

APP_KEY=change-this-to-a-32-char-secret
DEFAULT_FINE_PER_DAY=5
DEFAULT_ISSUE_DAYS=14
